@charset "UTF-8";

body{
	height: 100%;
}

.header{
	height: 70px;
	display: flex;
	text-align: center;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.header #name{
	font-size: 30px;
}

.header #log-out{
	background-color: orange;
	position: absolute;
	right: 10px;
	bottom: 0;
}

#line{
	border-bottom: 1px solid #777;	
}
.box{
	display: flex;
	height: 100%;
}

#box1{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.box #box1 #box2{
	height: 30px;
	position: relative;
	align-items: center;
	margin: 10px 0px;
}

#box2 div{
	position: absolute;
	right: 10px;
	top: 25%;
}

#box2 form{
	border-radius: 5px;
}
.box #box1 #collecter{
	margin:10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}	

#collecter div{
	border: 1px solid black;
}
#collecter .day{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;	
}

#collecter .date{
	font-size: 18px;
	height: 100px;
}

.box #side-div{
	display: flex;
	justify-content: center;
	width: 150px;
	background-color: lightgray;
}